body {
    font-family: 'Arvo';
}
body.fantasy {
    font-family: 'Gelasio';
}
body.sf {
    font-family: 'Source Code Pro';
}
.navbar {
    background-color: white;
}
.jumbotron {
    background-attachment: fixed;
    background-image: url(Library_4.jpg);
    background-repeat: inherit;
    background-size: cover;

    color: white;
    text-shadow: 2px 2px 2px black;
}
.jumbotron-fantasy {
    background-attachment: fixed;
    background-image: url(Hogwarts_2.PNG);
    background-repeat: no-repeat;
    background-size: 100% 30%;

    color: #C0C0C0;
    text-shadow: 2px 2px 2px #740001;
}
.jumbotron-sf {
    background-attachment: fixed;
    background-image: url(scifi.PNG);
    background-repeat: no-repeat;
    background-size: 100% 30%;

    color: #C0C0C0;
    text-shadow: 2px 2px 2px #740001;
}
.block-quote-footer {
    color: #747272;
}
.block-quote-footer-sf {
    color: #ececec;
}
.book-image {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.acclaim-fantasy {
    background-attachment: fixed;
    background-image: url(Deathly\ Hallows.jpg);
    background-size: cover;
    color: white;
}
.acclaim-sf {
    background-attachment: fixed;
    background-image: url(sf\ bg.jpg);
    background-size: cover;
    color: white;
}
.acclaim {
    background-attachment: fixed;
    background-image: url(Paper\ Background_2.webp);
    background-size: cover;
}
.fas {
    color: gold;
}
.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
}