body {
    font-family: sans-serif;
}
.navbar {
    background-color: white;
}
.book-image {
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron {
    background-attachment: fixed;
    background-image: url(Library_4.jpg);
    background-repeat: inherit;
    background-size: cover;

    color: white;
    text-shadow: 1px 1px 1px black;
}